* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
}

button {
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg {
    width: 100%;
}

img {
    width: 100%; // sempre tentar usar 100% do seu tamanho mesmo e dispositivos pequenos ela respeita o tamanho
}

a {
    cursor: pointer;
    text-decoration: none;
}